<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ta-da. It's short for da-ta-ta-da.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/static/styles/main.css">
        <script src="/scripts/vendor/modernizr.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>Tada</h1>
                <input id="new-todo" type="text" placeholder="What needs to be done?" />
                <button class="add-button">Add task</button>
                <p>Your tasks are:</p>
                <ul id="task-list">
                    {% for task in tasks %}
                    <li data-id="{{ task.id }}" {%- if task.done -%}class="done"{% endif %}>
                        <div class="view">
                            <input class="toggle" type="checkbox" {%- if task.done -%}checked="checked"{% endif %}/>
                            <label class="title">{{ task.title }}</label>
                            <span class="draggable"></span>
                        </div>
                        <input class="edit" type="text" value="{{ task.title }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <script type="text/javascript">
            var preloadedTasks = {{ tasks|tojson|safe }};
        </script>

        <script src="/scripts/vendor.js"></script>

        <script src="/static/scripts/main.js"></script>
        
        <!-- templates -->
        {% raw %}
        <script id="task-template" type="text/x-mustache-template">
            <div class="view">
              <input class="toggle" type="checkbox" {{#done}}checked="checked"{{/done}} />
              <label class="title">{{ title }}</label>
              <span class="draggable"></span>
            </div>
            <input class="edit" type="text" value="{{ title }}" />
        </script>
        <script id="remaining-template" type="text/x-mustache-template">
        </script>
        {% endraw %}
</body>
</html>
